* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

img,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul {
  list-style: none;
}

em,
address {
  font-style: normal;
}

button,
input {
  border: none;
  outline-style: none;
  background-color: transparent;
}

button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

// λ…Έν† μ‚°μ¤
@font-face {
  src: url("../public/font/NotoSansKR-Black.otf") format("truetype");
  font-family: "NotoSansKR-Black";
  font-weight: 900;
}

@font-face {
  src: url("../public/font/NotoSansKR-Bold.otf") format("truetype");
  font-family: "NotoSansKR-Bold";
  font-weight: 700;
}

@font-face {
  src: url("../public/font/NotoSansKR-Light.otf") format("truetype");
  font-family: "NotoSansKR-Light";
  font-weight: 300;
}

@font-face {
  src: url("../public/font/NotoSansKR-Medium.otf") format("truetype");
  font-family: "NotoSansKR-Medium";
  font-weight: 500;
}

@font-face {
  src: url("../public/font/NotoSansKR-Regular.otf") format("truetype");
  font-family: "NotoSansKR-Regular";
  font-weight: 400;
}

@font-face {
  src: url("../public/font/NotoSansKR-Thin.otf") format("truetype");
  font-family: "NotoSansKR-Thin";
  font-weight: 100;
}

@font-face {
  src: url('../public/font/BlackHanSans-Regular.ttf') format('truetype');
  font-family: 'Han_Sans';
  font-weight: normal;
}

.Loading {
  margin: 0;
  padding: 0;
  max-width: 640px;
  width: 100%;
  height: 100vh;
  padding: 20px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  div {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    .wave {
      display: flex; align-items: center; justify-content: center;
      position: relative;
    }
    
    .wave span {
      color: #5498FF;
      font-size: 32px;
      font-family: 'Han_Sans';
      opacity: 0;
      animation: anime_wave 1.5s infinite;
    }
    
    .wave span:nth-child(1) { animation-delay: .1s; }
    .wave span:nth-child(2) { animation-delay: .2s; }
    .wave span:nth-child(3) { animation-delay: .3s; }
    .wave span:nth-child(4) { animation-delay: .4s; }
    .wave span:nth-child(5) { animation-delay: .5s; }
    .wave span:nth-child(6) { animation-delay: .6s; }
    .wave span:nth-child(7) { animation-delay: .7s; }
    .wave span:nth-child(8) { animation-delay: .8s; }
    .wave span:nth-child(9) { animation-delay: .9s; }
    .wave span:nth-child(10) { animation-delay: 1s; }
    
    @keyframes anime_wave {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
        opacity: 1;
      }
      40% {transform: translateY(-0.2em);}
    }

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      animation: anime_wave2 1.5s infinite;
    }
    @keyframes anime_wave2 {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
        opacity: 1;
      }
      40% {
        transform: translateY(-1em);
      }
      60% {
        transform: translateY(-0.7em);
      }
    }
  }
}